{% extends "inventory/base.html" %} {%block details%}
<div
  class="text-info border border-secondary"
  style="
    width: 50%;
    height: 75%;
    margin: auto;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: black;
    border-radius: 30px;
  "
>
  <h1 style="margin-top: 40px"><strong>{{object.item_name|upper}}</strong></h1>
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      margin-top: 40px;
    "
  >
    <h5><strong>Date Added :</strong> {{object.date_posted}}</h5>
    <h5><strong>Seller : </strong>{{object.owner}}</h5>
  </div>
  <div
    style="
      margin-top: 30px;
      width: 85%;
      align-items: center;
      display: flex;
      flex-direction: column;
    "
  >
    <h5><strong>Category :</strong> {{object.category}}</h6>
    <h6><strong>Description :</strong> {{object.description}}</h6>
  </div>
  <div style="margin-top: 60px">
    <h4><strong>Left in Stock :</strong> {{object.stock}}</h4>
  </div>
  <div
    style="
      flex-direction: row;
      width: 80%;
      justify-content: space-evenly;
      display: flex;
      margin-top: 50px;
    "
  >
    {%if user != object.owner %}
    <a class="btn btn-outline-success" href="{%url 'item-issue' object.id%}"
      >Issue</a
    >
    <a class="btn btn-outline-danger" href="{% url 'item-return' object.id%}"
      >Return</a
    >
    {% endif %} {%if user == object.owner %}
    <a class="btn btn-outline-warning" href="{% url 'item-update' object.id%}">
      Update
    </a>
    {%endif%}
  </div>
</div>
{% endblock%}
