{% extends "inventory/base.html"%}
{% block content %}
    <div style = "width: 80%; display: flex; flex-direction: column; align-items: center; margin: auto;">
        <h1>{{username}}</h1>
        <h2>Your Orders : </h2>
        {%for order in user_orders%}
            <div style = "padding : 30px; border-radius: 30px; border : 2px solid black; display: flex; justify-content: center; flex-direction: column; width: 60%; margin-top: 10px;">
                <h6>Order-ID : #{{order.id}}</h5>
                <div style = "display: flex; flex-direction: row; justify-content: space-between; align-items: center;">
                <div>
                    <a href = "{%url 'item-details' order.item_id%}" style = "text-decoration: none;"><h2>{{order.item_name}}</h2></a>
                    <h6>Quantity : {{order.item_quantity}}</h6>
                </div>
                <div>
                    <h6>Placed on : {{order.order_time}}</h5>
                    <h5>Ordered From : {{order.item_owner}}</h5>
                </div>
                </div>  
                <div style = "display: flex; flex-direction: row; align-items: center; margin-top: 40px;">
                    <a class="btn btn-outline-danger" href = "{% url 'item-return' order.item_id%}">
                        Return
                    </a>
                    <a class = "btn btn-outline-success" style = "margin-left: 5px;" href = "{% url 'item-issue' order.item_id%}">
                        Add
                    </a>
                </div>
            </div>
        {%endfor%}
    </div>
{% endblock %}   